h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: #777777;
}

body {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

                    /* 上部の背景 */
.header {
  background-color: #000022;
  height: 85px;
}
                   
.header-logo p{      /*Codetamplaterのロゴ*/
    font-size: 29px;
    color: #777777;
    padding-left: 40px;
    padding-top: 30px;
    

}
p img {
  
    position: relative;
    /* 値は調整してください */
    top: 2px;
    right: 2px;
}

                    /* HTML CSS python java javascript*/


.btn {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 40px;
    color: rgb(44, 43, 43);
    line-height: 40px;
    cursor: pointer;
    
    text-align: center;
    background-color: rgb(2, 2, 39);
  }

   .left{
    margin-left: 40px;
  }

  .btn svg{
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn svg rect {
    stroke: #1e3ce7;
    stroke-width: 3;
    stroke-dasharray: 400, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 110, 290;
    stroke-dashoffset: 175;
  }

  .btn:hover{
    color: rgb(10, 86, 226);
    transition:all 1s;
  }






/*main*/
.main {
  background-color: #000033;
  height: 1000px;
  padding-top: 10px;
}

.copy-container {
  padding-left: 40px;
  color: #777777;
}

.copy-container h1 {
                    /*Hello !!!*/
  padding-top: 10px;
  font-size: 40px;
  display: block;
  border-bottom: 2px solid blue;
}
.contents-item {
  float: left;
}

.contact-form {
                        /*お問い合わせフォームのグループ*/
  margin-top: 400px;
  padding-left: 40px;
}

.section-title {
  /*お問い合わせ*/
  margin-bottom: auto;
  
}
.contact p {
  /*メールアドレス、お問い合わせ内容、必須項目は*/
  padding-bottom: auto;
}

/*footer*/
.footer {
  background-color: #000011;
  height: 150px;
  padding: 40px;
}

.footer-logo {
  font-size: 25px;
  float: left;
}

.footer-list {
  display: block;
  
}

.footer-list li {
  text-align: right;
  padding-bottom: 5px;
  list-style: none;
}






